<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #7993ea;
            margin: 10px;
            padding: 10px;
        }

    </style>
    <link rel="shortcut icon" href="#">
</head>
<body>
<section class="confirmation">
    <h2>Purchase Confirmation</h2>
    <h4>Trip Details</h4>
    <p>Trip id: <span th:text="${purchaseInfo.trip.id}"></span></p>
    <p>Meal type: <span th:text="${purchaseInfo.trip.mealType}"></span></p>
    <p>Adult price: <span th:text="${purchaseInfo.trip.priceAdult}"></span></p>
    <p>Adult child: <span th:text="${purchaseInfo.trip.priceChild}"></span></p>
    <br>
    <h4>Purchase Details</h4>
    <p>Number of Adults: <span th:text="${purchaseInfo.getAdultCount()}"></span></p>
    <p>Number of Children: <span th:text="${purchaseInfo.getChildCount()}"></span></p>
    <p>Purchase Date: <span th:text="${purchaseInfo.date}"></span></p>
    <p>Total amount: <span th:text="${purchaseInfo.getTotalAmount()}"></span></p>

    <h5>Thank you for your purchase, have a nice trip!</h5>
</section>

</body>
</html>

